{
    "EMAIL_SERVER": "db",
    "EMAIL_USERNAME": "5432",
    "EMAIL_PASSWORD": "queue_system",
    "SERVER_CRT": "/run/secrets/server-crt/.server-crt",
    "SERVER_KEY": "/run/secrets/server-key/.server-key"
}