{
    "POSTGRES_HOST": "db",
    "POSTGRES_PORT": "5432",
    "POSTGRES_BACKEND_DB": "queue_system",
    "VAULT_CRED_NAME": "vault_db",
    "VAULT_SERVER": "http://vault:8200",
    "VAULT_WRAPPED_TOKEN_SERVER": "http://vault:8300",
    "VAULT_ROLE_ID": "550693ef-d956-a588-6af7-720583c20a5d",
    "GRPC_HOST": "grpc:8002",
    "CA_CRT": "grpc:8002"
}